.app {
  min-width: 1400px;
  padding: 50px;
  margin: 0 auto;

  text-align: center;
}

.add,
.delete,
.test {
  margin: 10px 20px;
  padding: 20px;
  font-style: 2rem;
}

.list {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.border {
  width: 200px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.unborder {
  width: 200px;
  border: none;
  margin-bottom: 10px;
}